body{
	background-color: black;
}
h1{
	font-family: Arial;
	font-size: 200%;
	color: white;
	line-height: 100%;
}
h2{
	font-family: Arial;
	font-size: 150%;
	color: white;
	padding-left: 1%;
	line-height: 20%;
}
p{
	font-family: Arial;
	font-size: 125%;
	color: white;
	padding-left: 2%;
	line-height: 100%;
}
a{
	font-family: Arial;
	font-size: 125%;
	color: white;
	padding-left: 3%;
	line-height: 120%;
}
table{
	padding-left: 3%;
}
th, td{
	font-family: Arial;
	border: 1px solid white;
	color: white;
}